# docker
dockerfile
*.dockerfile
.dockerignore
*.yml

# git
.git
.github

# client-side dev
[Cc]lient/out
[Cc]lient/dist
**/node_modules
**/wwwroot/[Cc]lient

# App stuff
**/obj
**/bin

# OS artifacts
*.Cache
~$*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# vs/vscode meta
.vs
.vscode

[Oo]ut
[Ll]og
[Pp]ackages
